= simple_form_for(@coin) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :algorithm
    = f.input :tag
    = f.input :difficulty
    = f.input :rpc_user
    = f.input :rpc_password
    = f.input :rpc_port
    = f.input :rpc_url
    = f.input :rpc_difficulty
    = f.input :update_date

  .form-actions
    = f.button :submit
