%p#notice= notice

%p
  %b Name:
  = @coin.name
%p
  %b Algorithm:
  = @coin.algorithm
%p
  %b Tag:
  = @coin.tag
%p
  %b RPC:
  %p 
    user:
    = @coin.rpc_user
  %p 
    password:
    = @coin.rpc_password
  %p 
    ip address:
    = @coin.rpc_url
  %p 
    port:
    = @coin.rpc_port
  %p 
    difficulty_method:
    = @coin.rpc_difficulty
%p
  %b Difficulty:
  = @coin.difficulty
%p
  %b Update date:
  = @coin.update_date

= link_to 'Edit', edit_coin_path(@coin)
\|
= link_to 'Back', coins_path
